<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">

	<bean class="org.springframework.integration.x.twitter.TwitterSearchChannelAdapter">
		<constructor-arg ref="twitterTemplate"/>
		<property name="readTimeout" value="${readTimeout}"/>
		<property name="connectTimeout" value="${connectTimeout}"/>
		<property name="autoStartup" value="false"/>
		<property name="outputChannel" ref="output"/>
		<property name="query" value="${query}" />
		<property name="language" value="${language}" />
		<property name="geocode" value="${geocode}" />
		<property name="resultType" value="${resultType}"/>
		<property name="includeEntities" value="${includeEntities}"/>
		<property name="phase" value="#{T(java.lang.Integer).MAX_VALUE / 2}"/>
	</bean>

	<bean id="twitterTemplate" class="org.springframework.social.twitter.api.impl.TwitterTemplate">
		<constructor-arg value="${consumerKey}"/>
		<constructor-arg value="${consumerSecret}"/>
	</bean>

	<int:channel id="output"/>

</beans>
