*#
.#*
*~
/.gradle/
build
pom.xml
.idea/
/out/
target/
*.pyc
*.ipr
*.iml
*.iws
.settings
.classpath
.project
.springBeans
.cache-main
vf.gf.*
bin
dump.rdb
.DS_Store
tomcat.*
activemq-data
spring-shell.log
/data
spring-xd-ui/xd-ui.sublime-project
spring-xd-ui/xd-ui.sublime-workspace
.tern-port
.tern-port
/logs
!scripts/zookeeper/bin
lib
!/spring-xd-module/src/test/resources/ModuleFactoryTests/modules/processor/xmlModule/lib/
spring-xd-spark-streaming/.cache
.gradletasknamecache
spring-xd.ids
