/*
 * Copyright 2013 the original author or authors.
 *
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


/*
* Override bootstrap styles
*/

body {
	background: #f4f4f4 url(../images/background.png);
	font-size: 15px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar a.navbar-brand {
	font: 30px/30px 'DaysRegular', Arial, sans-serif;
	text-align: center;
}

.navbar .nav.navbar-nav > li > a {
    	padding:18px 20px;
   	font: 20px/25px 'DaysRegular', Arial, sans-serif;
   	margin: auto;
}

#xd-container {
	border:1px solid #d1d1d1;
	border-radius:7px;
	background:#ffffff;
	padding:5px;
	position:relative;
}

#xd-jobs {
	float: left;
}

.nav-tabs > li > a {
	color: #5d9936;
}

.form-horizontal .row {
	margin-bottom: 7px;
}

.form-horizontal .add-on {
	font: 14px/20px 'DaysRegular', Arial, sans-serif;
}

.form-horizontal .module-input .add-on { 
	padding: 4px 10px;
	margin-left: 32px;
}

.form-horizontal .module-params .add-on { 
	padding: 4px 2px;
	margin-left: 1px;
}

.form-horizontal button.btn-inverse {
	margin-left: 32px;
}

a:hover {
  cursor:pointer;
}

.table td, .table th {
	text-align: center;
	padding: 5px;
}

.btn-mini {
	padding: 0 3px;
}

/*
* Custom styles
*/

.xd-loading {
	background:url(../images/loading.gif) no-repeat;
    width: 32px;
    height: 32px;
    margin: auto;
}

#xd-dashboard {
	margin-left: 5px;
}

.info-table thead td, #stream-detail-table thead td  {
	font-weight: bold;
	background-color: rgba(58, 58, 75, 0.23);
}

.detail-header {
	font: 15px/16px 'DaysRegular', Arial, sans-serif;
}

.detailAction a {
	color: black;
}

.jobDetailsRow {
    display: none;
}

#streamTitle {
	font-size: 30px;
	padding: 30px 18px 5px;
}

#xd-status-msg {
	margin: 5px 35px;
	height: 40px;
}

.artifact_analytics {
    position: relative;   
}

.jobInstance {
    cursor:pointer;
    cursor:hand;
}

#batch > tbody > tr > td {
    vertical-align:middle;
}

/* 
* Font styles
*/

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 13, 2013 05:13:27 AM America/New_York */

@font-face {
    font-family: 'DaysRegular';
    src: url('../fonts/Days-webfont.eot');
    src: url('../fonts/Days-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Days-webfont.woff') format('woff'),
         url('../fonts/Days-webfont.ttf') format('truetype'),
         url('../fonts/Days-webfont.svg#DaysRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "ComfortaaThin";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Comfortaa_Thin-webfont.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Comfortaa_Thin-webfont.woff") format("woff"), 
    url("../fonts/Comfortaa_Thin-webfont.ttf") format("truetype"), 
    url("../fonts/Comfortaa_Thin-webfont.svg#ComfortaaThin") format("svg");
}

@font-face {
    font-family: "ComfortaaRegular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Comfortaa_Regular-webfont.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Comfortaa_Regular-webfont.woff") format("woff"),
    url("../fonts/Comfortaa_Regular-webfont.ttf") format("truetype"), 
    url("../fonts/Comfortaa_Regular-webfont.svg#ComfortaaRegular") format("svg");
}
@font-face {
    font-family: "ComfortaaBold";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Comfortaa_Bold-webfont.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Comfortaa_Bold-webfont.woff") format("woff"), 
    url("../fonts/Comfortaa_Bold-webfont.ttf") format("truetype"), 
    url("../fonts/Comfortaa_Bold-webfont.svg#ComfortaaBold") format("svg");
}

