<h1 ng-show="definitionName">Deploy Stream Definition {{definitionName}}</h1>

	<p class="index-page--subtitle"> Please specify any <strong>optional</strong> deployment properties. For more information please see the
		<a href="https://github.com/spring-projects/spring-xd/wiki/XD-Distributed-Runtime#deployment-manifest"
		target="_blank">Technical Documentation</a>.
	</p>
	<form name="deployDefinitionForm" class="form-horizontal" role="form">
		<div class="form-group">
			<label for="deploymentProperties" class="col-sm-3 control-label">Deployment Properties</label>
			<div class="col-sm-9">
				<input type="text" id="deploymentProperties" autofocus
							class="form-control" placeholder="Enter deployment properties" ng-model="definitionDeployRequest.deploymentProperties"/>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-md-6 text-right"><button id="back-button"   type="button" class="btn btn-default" ng-click="cancelDefinitionDeploy()">Back</button></div>
		<div class="col-md-6 text-left"><button  id="submit-button" type="button" class="btn btn-default"
		ng-click="deployDefinition(definitionDeployRequest)">Deploy</button></div>
	</div>
