*#
.#*
*~
/.gradle/
build
pom.xml
/.idea/
/out/
target/
*.ipr
*.iml
*.iws
.settings
.classpath
.project
.springBeans
vf.gf.*
bin
dist
dump.rdb
.DS_Store
tomcat.*
activemq-data
spring-shell.log
/data
spring-xd-ui/xd-ui.sublime-project
spring-xd-ui/xd-ui.sublime-workspace
.tern-port
.tern-port
*.csv
