node_modules
dist
.tmp
.sass-cache
.idea
bower_components
xd-ui.sublime-project
xd-ui.sublime-workspace
.editorconfig
.bower_cache
app/lib
app/styles/main.css
app/styles/main.css.map
!src/main/resources/public/admin-ui/lib

