<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="$state.current.data.title || 'Spring XD'">Spring XD</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>

    <!--[if lt IE 7]>
      <p>You are using an <strong>outdated</strong> browser. Please upgrade your browser to improve your experience.</p>
    <![endif]-->
    <div ng-cloak class="splash" >
      <div class="container">Loading...</div>
    </div>

    <nav class="navbar navbar-default" role="navigation" ng-cloak>
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="home.jobs.tabs.definitions"><span></span></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <p ng-if="user.authenticationEnabled && user.isAuthenticated" class="navbar-text navbar-right">Signed in as
            <strong>{{user.username}}</strong>
          </p>
          <p ng-if="user.authenticationEnabled && !user.isAuthenticated" class="navbar-text navbar-right">Not logged in</p>
          <ul class="nav navbar-nav navbar-right">
            <li ng-class="{ active: $state.includes('home.containers') }">
               <a ui-sref="home.containers.tabs.containerlist">Containers</a>
            </li>
            <li ng-class="{ active: $state.includes('home.streams') }">
               <a ui-sref="home.streams.tabs.definitions">Streams</a>
            </li>
            <li ng-class="{ active: $state.includes('home.jobs') }">
              <a ui-sref="home.jobs.tabs.definitions">Jobs</a>
            </li>
            <li ng-class="{ active: $state.includes('home.about') }">
              <a ui-sref="home.about">About</a>
            </li>
            <li ng-if="user.authenticationEnabled"
              class="dropdown"><a data-target="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li ng-if="user.isAuthenticated"><a ui-sref="logout">Logout</a></li>
                <li ng-if="!user.isAuthenticated"><a ui-sref="login">Login</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div growl></div>
    <div ui-view ng-cloak cg-busy="{promise:cgbusy,delay:0,minDuration:500}"></div>
    <script src="lib/requirejs/require.js" data-main="scripts/main"></script>

</body>
</html>
