<div class="row">
	<div class="col-md-12">
		<div class="col-md-12 table-filter">
			<div class="col-md-4 col-md-offset-8">
				<input type="text" class="form-control" ng-model="filterQuery" id="filterTable" placeholder="Quick filter">
			</div>
		</div>
	</div>
</div>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th><th>Instance Id</th><th>Execution Id</th><th>Job Start Time</th><th>Step Executions Count</th><th>Status</th><th>Restart</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in jobExecutions | filter:filterQuery">
			<td>{{item.name}}</td>
            <td>{{item.jobExecution.jobInstance.id}}</td>
            <td>{{item.jobExecution.id}}</td>
			<td>{{item.startDate}} {{item.startTime}}</td>
			<td>{{item.stepExecutionCount}}</td>
			<td ng-class="{'text-success': item.jobExecution.status === 'COMPLETED', 'text-danger': item.jobExecution.status === 'FAILED'}">{{item.jobExecution.status}}</td>
            <td><button ng-show="{{item.restartable}}" type="button" class="btn btn-default" ng-click="restartJob(item)" title="Restart Job Execution">
                <span class="glyphicon glyphicon-retweet"></span></button></td>
		</tr>
	</tbody>
</table>
