
<h1>Batch Jobs</h1>
<p class="index-page--subtitle">The section allows you to create and deploy new Batch Job Definitions, to Launch
Batch Jobs and to monitor the execution of Batch Jobs.</p>

<div class="tab-pane active col-md-12" id="xd-jobs">
	<ul class="nav nav-tabs">
		<li ng-class="{ active: $state.includes('home.jobs.templates') }"><a ui-sref="home.jobs.templates">Templates</a></li>
		<li ng-class="{ active: $state.includes('home.jobs.definitions') }"><a ui-sref="home.jobs.definitions">Definitions</a></li>
		<li ng-class="{ active: $state.includes('home.jobs.deployments') }"><a ui-sref="home.jobs.deployments">Deployments</a></li>
		<li ng-class="{ active: $state.includes('home.jobs.scheduledJobs') }"><a ui-sref="home.jobs.scheduledJobs">Scheduled</a></li>
		<li ng-class="{ active: $state.includes('home.jobs.executions') }"><a ui-sref="home.jobs.executions">Executions</a></li>
	</ul>
	<div class="tab-content">
		<div ui-view></div>
	</div>
</div>
