<h1 ng-show="stepExecutionDetails">Step Execution Details - Step Execution ID: {{stepExecutionDetails.stepExecution.id}}</h1>

<h4 ng-show="stepExecutionDetailsNotFound">The Step Execution Details for Step Execution ID {{stepExecutionId}} could not be found.</h4>

<table class="table table-striped table-hover" ng-show="stepExecutionDetails">
  <thead>
    <tr>
      <th>Property</th><th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Step Execution Id</td>
      <td>{{stepExecutionDetails.stepExecution.id}}</td>
    <tr>
    <tr>
      <td>Job Execution Id</td>
      <td>{{stepExecutionDetails.jobExecutionId}}</td>
    <tr>
    <tr>
      <td>Step Name</td>
      <td>{{stepExecutionDetails.stepExecution.stepName}}</td>
    <tr>
    <tr>
      <td>Reads</td>
      <td>{{stepExecutionDetails.stepExecution.readCount}}</td>
    <tr>
    <tr>
      <td>Writes</td>
      <td>{{stepExecutionDetails.stepExecution.writeCount}}</td>
    <tr>
    <tr>
      <td>Commits</td>
      <td>{{stepExecutionDetails.stepExecution.commitCount}}</td>
    <tr>
    <tr>
      <td>Rollbacks</td>
      <td>{{stepExecutionDetails.stepExecution.rollbackCount}}</td>
    <tr>
    <tr>
      <td>Duration</td>
      <td>{{stepExecutionDetails.stepExecution.endTime - stepExecutionDetails.stepExecution.startTime}} ms</td>
    <tr>
    <tr>
      <td>Status</td>
      <td ng-class="{'text-success': stepExecutionDetails.stepExecution.exitStatus.exitCode === 'COMPLETED', 'text-danger': stepExecutionDetails.stepExecution.exitStatus.exitCode === 'FAILED'}">{{stepExecutionDetails.stepExecution.exitStatus.exitCode}}</td>
    <tr>
  </tbody>
</table>

<h4 ng-show="stepExecutionDetails">Exit Description</h4>

<div style="overflow-x: auto;">
	<pre>{{stepExecutionDetails.stepExecution.exitStatus.exitDescription || 'N/A'}}</pre>
</div>

<h4 ng-show="stepExecutionDetails">Step Execution Context</h4>

<table class="table table-striped table-hover" ng-show="stepExecutionDetails">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="contextValue in stepExecutionDetails.stepExecution.executionContext.values">
      <td>{{contextValue.key}}</td>
      <td>{{contextValue.value}}</td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-default" ng-click="closeStepExecutionDetails(stepExecutionDetails)">Back</button>

