<h1>About</h1>

<p class="index-page--subtitle">
  Spring XD is a unified, distributed, and extensible system for data ingestion,
  real time analytics, batch processing, and data export. The project's goal is to
  simplify the development of big data applications.
</p>

<p class="index-page--subtitle">
  <strong>Version:</strong> {{xdVersionInfo.versionAvailable ? xdVersionInfo.version : 'Version info not available'}}
</p>

<h2>Need Help or Found an Issue?</h2>

<table class="table table-hover">
  <tbody>
    <tr>
      <td>Project Page</td><td><a target="_blank" href="http://projects.spring.io/spring-xd/">http://projects.spring.io/spring-xd/</a></td>
    </tr>
    <tr>
      <td>Sources</td><td><a target="_blank" href="https://github.com/spring-projects/spring-xd/">https://github.com/spring-projects/spring-xd/</a></td>
    </tr>
    <tr>
      <td>Documentation</td><td><a target="_blank" href="http://docs.spring.io/spring-xd/docs/{{xdVersionInfo.versionAvailable ? xdVersionInfo.version : 'current'}}/reference/html/">http://docs.spring.io/spring-xd/docs/{{xdVersionInfo.versionAvailable ? xdVersionInfo.version : 'current'}}/reference/html/</a></td>
    </tr>
    <tr>
      <td>API Docs</td><td><a target="_blank" href="http://docs.spring.io/spring-xd/docs/{{xdVersionInfo.versionAvailable ? xdVersionInfo.version : 'current'}}/api/">http://docs.spring.io/spring-xd/docs/{{xdVersionInfo.versionAvailable ? xdVersionInfo.version : 'current'}}/api/</a></td>
    </tr>
    <tr>
      <td>Support Forum</td><td><a target="_blank" href="http://stackoverflow.com/questions/tagged/spring-xd">http://stackoverflow.com/questions/tagged/spring-xd</a></td>
    </tr>
    <tr>
      <td>Issue Tracker</td><td><a target="_blank" href="https://jira.spring.io/browse/XD">https://jira.spring.io/browse/XD</a></td>
    </tr>
  </tbody>
</table>

