<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration
		http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/batch
		http://www.springframework.org/schema/batch/spring-batch.xsd">

	<batch:job id="sparkJob">
		<batch:step id="tasklet">
			<batch:tasklet ref="sparkTasklet" />
		</batch:step>
	</batch:job>
	<bean id="sparkTasklet" class="org.springframework.xd.spark.tasklet.SparkTasklet">
		<property name="name" value="${name}" />
		<property name="master" value="${master}" />
		<property name="conf" value="${conf}" />
		<property name="files" value="${files}" />
		<property name="mainClass" value="${mainClass}" />
		<property name="appJar" value="${appJar}" />
		<property name="programArgs" value="${programArgs}" />
	</bean>

</beans>
