<table class="table table-striped table-hover" ng-hide="$state.includes('home.tabs.job.deployments.launch')">
	<thead>
		<tr>
			<th>Name</th><th>Launch</th><th>Schedule</th><th>Execution Count</th><th>Last Execution Status</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in jobDeployments | orderBy:'name'">
			<td>{{item.name}}</td>
			<td><button type="button" ng-click="launchJob(item)"
				class="btn btn-default"
				><span class="glyphicon glyphicon-play"></span> Launch</button>
			</td>
            <td><button type="button" ng-click="scheduleJob(item)"
                        class="btn btn-default"
                    ><span class="glyphicon glyphicon-play"></span> Schedule</button>
            </td>
			<td>{{item.executionCount}}</td>
			<td ng-class="{'text-success': item.exitStatus.exitCode === 'COMPLETED', 'text-danger': item.exitStatus.exitCode === 'FAILED'}">{{item.exitStatus.exitCode}}</td>
		</tr>
	</tbody>
</table>

<div ui-view></div>
