<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/integration"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:file="http://www.springframework.org/schema/integration/file"
	xmlns:int-mail="http://www.springframework.org/schema/integration/mail"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/integration/mail http://www.springframework.org/schema/integration/mail/spring-integration-mail.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<channel id="input" />

	<int-mail:header-enricher input-channel="input" output-channel="send">
		<int-mail:to expression="${to:null}" />
		<int-mail:from expression="${from:null}" />
		<int-mail:subject expression="${subject:null}" />
		<int-mail:cc expression="${cc:null}" />
		<int-mail:bcc expression="${bcc:null}" />
		<int-mail:reply-to expression="${replyTo:null}" />
		<int-mail:content-type expression="${contentType:null}" />
	</int-mail:header-enricher>

	<channel id="send" />

	<int-mail:outbound-channel-adapter
		channel="send" host="${host}" port="${port}" username="${username:}"
		password="${password:}" />


</beans:beans>
